.container {
  width: 200px;
  padding-left: 5px;
}

.nav-item {
  padding: 10px 5px;
  margin-top: 5px;
  background-color: blueviolet;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
  transition-duration: 0.5s;
}

.nav-item__true {
  background-color: orange;
  color: brown;
}
